.contactForm {
  width: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 10px;
  margin: 20px auto 0 auto;
}
.contactLabel {
  display: flex;
  justify-content: space-between;
}
